body{
    background-image: url('https://ca-times.brightspotcdn.com/dims4/default/c1a61d9/2147483647/strip/true/crop/3840x2160+0+0/resize/1200x675!/format/webp/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F03%2F0d%2F44d557194a8db3da6f4536cc2f30%2Favtr-226.jpg');
    background-size: cover;
}
.logo{
    display: inline;
    color: white;
    margin-left: 20px;
}
.topnav{
    display: inline-flex;
    flex-direction: row;
    gap: 150px;
    float: right;
    margin: 20px;
    margin-right: 100px;
}
.topnav a{
    color: white;
    text-decoration: none;
    display: block;
}
.middle{
    color: white;
    margin-left: 50px;
    width: 500px;
    margin-top: 130px;
}
.middle h1{
    font-size: 80px;
}
.middle button{
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}