body{
    background-image: url('https://ca-times.brightspotcdn.com/dims4/default/c1a61d9/2147483647/strip/true/crop/3840x2160+0+0/resize/1200x675!/format/webp/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F03%2F0d%2F44d557194a8db3da6f4536cc2f30%2Favtr-226.jpg');
    background-image: linear-gradient(to right,#16161704, #7a282802),url('https://ca-times.brightspotcdn.com/dims4/default/c1a61d9/2147483647/strip/true/crop/3840x2160+0+0/resize/1200x675!/format/webp/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F03%2F0d%2F44d557194a8db3da6f4536cc2f30%2Favtr-226.jpg');    
    background-size: cover;
}
body:hover{
    background-image: url('https://ca-times.brightspotcdn.com/dims4/default/c1a61d9/2147483647/strip/true/crop/3840x2160+0+0/resize/1200x675!/format/webp/quality/80/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F03%2F0d%2F44d557194a8db3da6f4536cc2f30%2Favtr-226.jpg'), linear-gradient(right,rgba(41, 41, 41, 0));    
}
.logo{
    float: left;
    color: white;
    margin-left: 20px;
}
.container{
    margin: 20px;
    margin-right: 100px;
}
.container li{
    float: right;
    color: white;
    text-decoration: none;
    padding: 50px;
}
.middle{
    color: white;
    margin-left: 50px;
    width: 500px;
    margin-top: 130px;
}
.middle h1{
    font-size: 80px;
}
.middle button{
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}