*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #001;
    display: flex;
    font-family: sans-serif;
    color: white;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}
.image img{
    width: 100%;
}
.menue{
    background-color: #123;
    width: 50px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .7s;
}
.menue:hover{
    width: 220px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 45px;
    transition: .7s;
    border-radius: 10px;
    margin-top: 30px;
}
ul li a:hover{
    background-color: #ffffff55;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 90%;
}
.log-out a{
    background-color: #a00;
}
ul li a i{
    font-size: 30px;
    color: white;
}
.content{
    width: 70%;
    margin: 0 auto;

}
.content .about{
    flex-basis: 200px;
    height: fit-content;
    background-color: #123;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px;
    border-radius:10px ;
    margin-top: 70px;
}
.content .about p{
    line-height: 27px;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-align: center;
}
.content .about h1,.content h1{
    text-align: center;
    padding-bottom: 10px;
}
.content .one h1{
    margin-top: 40px;
}
