*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #001;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}
.image img{
    width: 100%;
}
.menue{
    background-color: #123;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .5s;
}
.menue:hover{
    width: 260px;
}
ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
    border-radius: 10px;
}
ul li a:hover,.active{
    background-color: #ffffff55;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: #a00;
}
ul li a i{
    font-size: 30px;
}