body{
    background-color: #5d5c5c;
}
.main{
    height: 400px;
    width: 50%;
    background-image: radial-gradient(circle 500px, red,yellow,blue);
    padding: 10px;
    padding-top: 500px;
    /*transform: skew(5deg,7deg);*/
}
.over{
    background-color: aqua;
    height: 300px;
    width: 200px;
    margin-top: 100px;
    border: 7px darkblue dashed;
    overflow: auto;
}
.parent1{
    background-color: aquamarine;
    height: 200px;
    width: 300px;
    position: absolute;
    position: relative;
    top: 60;
    left: 600px;
    bottom: 200px;
}
.parent1 div{
    height: 50px;
}
.one{
    background-color: tomato;
}
.two{
    background-color: gold;
}
.three{
    background-color: blanchedalmond;
    position: sticky;
    bottom: 3px;
} 
ul,ol{
    list-style: disc inside url(.//second-project.html);
}
table{
    width: 300px;
    border-spacing: 0;
    position: relative;
    left: 590px;
    bottom: 190px;
}
th{
    background-color: #979797cc;
    padding: 7px;
    border: 1px solid #6b6968 ;
}
th:hover{
    background-color: #bbbaba;
}
td:hover{
    background-color: #ece9e9;
}
td{
    background-color: #eeeeee9b;
    padding: 10px;
    border: 1px solid #3f3f3f;
}
.cv{
    height: 300px;
    width: 280px;
    background-size: contain;
    background-color: azure;
    margin: auto;
    display: block;
    margin-bottom: 200px;
    overflow: hidden;
    transition: 1s;
}
.ahmad{
    height: 100px;
    width: 100px;
    margin: auto;
    display: block;
    border-radius: 100px;
    position: relative;
    top: 20px;
}
.cv pre{
    padding-top: 40px;
    padding-left: 20px;
}
.cv:hover{
    height: 450px;
    width: 450px;
    border-radius: 15px;

}
input:invalid{
    background-color: #ff000034;
    color: white;
}
input:valid{
    background-color: #02c20222;
    color: white;
}
input:checked{
    float: right ;
}
p{
    background-color: #f68383;
    height: 100px;
    position: relative;
    color:white;  
    padding-top:40px ;
}
p::first-letter{
    background-color: #3f3f3f;
    color: #ece9e9;
}
p::before{
    content: '';
    background-color: #ae0303;
    height: 15px;
    width: 100%;
    position: absolute;
    top: 0;
}
::selection{
    background-color: aqua;
}
/*
css attribute
The [attribute] selector is used to select elements with a specified attribute
The [attribute="value"] selector is used to select elements with a specified attribute and value.
The [attribute~="value"] selector is used to select elements with an attribute value containing a specified word.
The [attribute^="value"] selector is used to select elements with the specified attribute, whose value starts with the specified value.
The [attribute$="value"] selector is used to select elements whose attribute value ends with a specified value.
The [attribute*="value"] selector is used to select elements whose attribute value contains a specified value.
*/
[type='email']{
    font-family: monospace;
}
[p ~="lorem"]{
    font-style: italic;
}
/*
transform

translate == move (x,y)
scale == zoom in or zoom out عندما يكون سالب ينقلب المحتوى بالعكس
matrix == (scaleX,skewX,skewY,scaleY,translateX,translateY)
*/
.rotate{
    height: 80px;
    width: 80px;
    background-color: yellow;
    rotate:20deg;
}
.skew{
    height: 80px;
    width: 80px;
    background-color: yellow; 
    transform: matrix(1,.2,.5,1,200,-60);
}
.animation{
    width: 100%;
    height: 500px;
    background-color: #222;
}
.anim{
    width: 80px;
    height: 80px;
    background-color: red;
    animation-name: box;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 3;
}
@keyframes box{
    from{
        width: 0%;
        background-color: red;
    }
    to{
        width: 100%;
        background-color: blue;
    }
}
.anim2{
    background-color: #ae0303;
    width: 80px;
    height: 80px;
    border-radius: 9px;
    animation: box2 3s  1s linear  7 forwards  ;
}
.anim2:hover{
    animation-play-state: paused;
    cursor: progress;
}
@keyframes box2{
    0%{
        translate: 0 0;
        background-color: aqua;
        rotate: 0;
    }
    25%{
        translate: 0 335px;
        background-color: green;
        rotate: 90deg;
    }
    50%{
        translate: 1200px 335px;
        background-color: yellow;
        rotate: 180deg;
    }
    75%{
        translate: 1200px 0;
        background-color: blue;
        rotate: 270deg;
    }
    100%{
        translate: 0 0;
        background-color: darkgray;
        rotate: 360deg;
    }
}
.first{
    background-color: red;
    width:80px;
    height: 80px;
    margin: 10px;
}
.first:hover{
    visibility: hidden;
}
.second{
    background-color: red;
    width:80px;
    height: 80px;
    margin: 10px;
    /*display: none;*/
}
.thirth{
    background-color: red;
    width:80px;
    height: 80px;
    margin: 10px;
    opacity: .7;
}
.parent{
    background-color: gold;
    padding: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    /*
    justify-content == start,center,end,space-around,space-beetween,space-evenly
    */
   /* flex-flow:flex-direction flex-wrap ;*/
    gap:10px ;
}
.parent div{
    padding: 5px;
}
.item1{
    background-color: green;
    order: -1 ;
    flex-grow: 1;
    align-self:center;
}
.item2{
    background-color: red;
    flex-grow: 1;
    align-self:center;
    flex-shrink: 0;
}
.item3{
    background-color: aqua;
    flex-grow: 1;
    align-self:center;
}
.item4{
    background-color: silver;
    flex-grow: 1;
    align-self:center;
    
}
/*flex:flex-grow flex-shrink flex-basis ;*/
.father{
    background-color: #ae0303;
    padding: 10px;
    margin: 20px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fill,220px) ;
    grid-template-rows: repeat(3,120px);
    gap: 7px 7px;
    justify-content: center;
    /*The minmax()  size range greater than or equal to min and less than or equal to max
    gap == row-gap column-gap
        */
}
.father div{
    background-color: gold;
    color: white;
}
.father .one{
    background: #575555;
    display: grid;
    grid-column: 1/5;
}
.father .tow{
    background: green;
    grid-column: 5;
    grid-row: 1 / 4;
}
.father .three{
    background: aquamarine;
    grid-column: 1/5;
}
.father .four{
    background: skyblue;
    grid-column: 1/5;
}
.responsive{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-basis: content;
}
.responsive div{
    background-color: rebeccapurple;
    width: 400px;
    height: 300px;
}
.form{
    background-color: #003;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
form{
    background-color: #0000889f;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
form input{
    background-color: #0000aaa0;
    border: none;
    outline: none;
    color: white;
    padding: 7px 7px;
    flex-basis: 200px ;
    flex-grow: 1;
}
form button{
    background-color: #14a;
    color: white;
    border: none;
    cursor: pointer;
    flex-basis: 30px;
    flex-grow: 1;
}
@media (max-width:500px){
    body{
        width:500px;
    }
    .responsive{
        display: flex;
        flex-direction: column;
    }
    .responsive div{
        width: 100%;
    }
    .animation{
        width: 400px;
    }
    @keyframes box2{
        25%{
            translate: 0 335px;
        }
        50%{
            translate: 300px 335px;
        }
        75%{
            translate: 300px 0;
        }
        100%{
            translate: 0 0;
        }
    }
}
@media (min-width:501) and (max-width:798) {
    .responsive{
        display: flex;
        flex-wrap: wrap;
    }
    .responsive div{
        width: 48%;
    }
}
